body {
  background-color: #7ccdca;
}

button a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: black;
}

.back-button {
  background-color: #fef8ef;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #555;
  font-weight: bold;
}

.top-controls {
  position: fixed; /* ← 画面に固定 */
  top: 30px; /* ← 上からの距離 */
  right: 30px; /* ← 右からの距離 */
}
