body {
  margin: 0;
  background: #7ccdca;
  font-family: 'Yu Gothic', sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 40px;
}

.back-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #fff;
  padding: 6px 16px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.row {
  text-align: left;
  font-size: 22px;
  margin: 20px 0 10px;
}

.box {
  background: #f9f3e8;
  padding: 20px;
  border-radius: 25px;
  font-size: 26px;
  margin-bottom: 30px;
}

.retry-btn {
  background: #f9f3e8;
  width: 100%;
  padding: 18px 0;
  border-radius: 20px;
  font-size: 30px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

button a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: black;
}
