body {
  background-color: #7ccdca;
}

.btn{ 
  background-color: #F47766;　
  width:100%;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 30px;
}

.btn:hover {
  background-color: #e57865;
}


.login{
  background-color: #FFCD48;
  width:100%;
  padding: 12px 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 30px;
}

ボタン
.button{
  background-color: #fef8ef;
}

.form-box{
  width:450px;
  height:250px;
  background-color: #fef8ef;
  border-radius:30px;
  margin: 0;
  text-align: left;
}

.form-box input {
  width: 100%;
  padding: 10px 5px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

label{
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}